
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7f9;
    margin: 0;
    padding: 0;
}
.reset-button {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    border-radius: 5px; 

}
.reset-button:disabled {
    background-color: red;
    cursor: not-allowed; 
}


header h1 {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px 10px 0 0;
    margin: -10px -10px 20px;
    text-align: center;
    font-size: 2.2rem;
}


.task-creator {
    margin: 30px auto;
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.task-creator h3 {
    font-size: 1.8rem;
    margin: 0;
}

.input-text {
    width: 70%;
    padding: 0.8rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-right: 10px;
}

.input-button {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.task-boards {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.task-board {
    flex: 1;
    max-width: 22%;
    margin: 0 10px 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-board h2 {
    font-size: 1.2rem;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
    padding: 12px;
    margin: 0 0 10px;
    border-radius: 8px;
}

.backlog h2 {
    background-color: #e9ecef;
    color: #495057;
}

.in-progress h2 {
    background-color: #e3f2fd;
    color: #0288d1;
}

.completed h2 {
    background-color: #e8f5e9;
    color: #388e3c;
}

.recycle-bin h2 {
    background-color: #ffebee;
    color: #d32f2f;
}

.clear-bin {
    font-size: 1rem;
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}


.task-item {
    background-color: #ffffff;
    padding: 0.8rem;
    border-radius: 6px;
    margin-bottom: 12px;
    border-left: 6px solid;
}


.backlog .task-item {
    border-left-color: #ced4da;
}

.in-progress .task-item {
    border-left-color: #81d4fa; 
}

.completed .task-item {
    border-left-color: #a5d6a7;
}

.recycle-bin .task-item {
    border-left-color: #ff6f6f; 
}
